.fgm-update-status {
	margin: 20px 0;
}

.postbox-tab-settings {
	margin-left: 12px;

	h3 {
		font-size: 20px;
		padding-left: 0;
		margin-left: 0;
	}

	p, ol li {
		margin-top: 0;
		font-size: 14px;
		line-height: 22px;
	}

	span.description {
		margin: 3px 0;
		display: block;
	}
}